

    <div class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12 order-div">

            <div class="card">
              <div class="">
                <div  class="" id="failures">
                  <div  class="active" id="all">
                    <div class="order-listing">
                      <div class="order-heading">
                        <div class="id">Order ID</div>
                        <div class="source">Source</div>
                        <div class="time">Last Sync</div>
                        <div class="status">Status</div>
                        <div class="order-action">Action</div>


                      </div>
                      <div class="order-detail">
                        <div class="id">8974521</div>
                        <div class="source">WebHook</div>
                        <div class="time">Apr 10, 2018 - 18:00</div>
                        <div class="status">Pushed to CIMS</div>
                        <div class="order-action"><button type="button" class="btn2 btn-success2">SYNC</button></div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default panel-timeline">
          <!-- Default panel contents -->
          <div class="panel-heading">TIMELINE</div>
          <div class="panel-body">
            <p class="order-today">TODAY</p>
          </div>
          <div class="time-line-parent">
            <div class="time-line">
            </div>
          </div>
          <!-- Table -->
          <table id ="table-timeline" class="table timeline">
            <tr>
              <td class="td tm-td"><span class="t-round active"></span> Fullfillment Synced By Manual</td>
              <td class="tm-time tm-td">9:32PM PDT</td>
            </tr>
            <tr>
              <td class="td tm-td"><span class="t-round"></span>Fullfillment Failed From BackgroundJob</td>
              <td class="tm-time tm-td">9:32PM PDT</td>
            </tr>
            <tr>
              <td class="td tm-td"><span class="t-round"></span>Pushed To CIMS From WebHook</td>
              <td class="tm-time tm-td">9:32PM PDT</td>
            </tr>

          </table>
        </div>
      </div>
    </div>



